@media only screen and (max-width: 760px), (min-device-width: 760px) and (max-device-width: 1024px) {

	table.be-responsive, 
	table.be-responsive > thead, 
	table.be-responsive > tbody, 
	table.be-responsive > thead > tr > th,
	table.be-responsive > tbody > tr > td,
	table.be-responsive > tbody > tr {
		display: block; 
	}
	
	table.be-responsive > thead > tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table.be-responsive > tbody > tr { 
		border: 2px solid #ddd;
	}
	
	table.be-responsive > tbody > tr > td { 
		position: relative;
	}

	table.be-responsive > tbody > tr > td:empty { 
		display: none;
	}
	
	.responsive-with-titles > tbody > tr > td {
		padding-left: 40% !important;
	}
	.responsive-with-titles > tbody > tr > td:before { 
		position: absolute;
		top: 5px;
		left: 5px;
		width: 35%; 
		padding-right: 10px;
		white-space: nowrap;
	}
}
